
	<div class="container">
		<h1>{{player.name}}</h1>
		<p>{{player.age}}</p>
		<p>{{player.height}}</p>
		<p>{{player.mainPosition}}</p>
		<p>{{player.otherPositions}}</p>
		<img src={{player.imageUri}}></img>
		
	</div>

	<a href="/">Overview</a>



