<div class="container-fluid tours">
<h1>Tournaments</h1>

{{#each tour}}
  <div href="/tournaments/{{_id}}" class="singleTour">
    <h2>{{name}}</h2>
    <p>On {{date}} at {{location}}</p>
    <a href="/tournaments/{{_id}}" class="btn btn-primary">View tournament</a>
  </div>
{{/each}}
</div>
